* {
    box-sizing:border-box;
}
body {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    background-image:url("img/n.png");
    background-size:cover;
}


div {
    display:flex;
    background-color:rgb(37, 7, 80);
    opacity:.9;
    width:360px;
    height:250px;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
}

div .inp {
    
    width:250px;
    height:35px;
}
label{
    font-size:20px;
    font-weight:bold;
    color:blueviolet;

}