body{
    background-color:black;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;   

}
div {
    color:red;
    border: 1px solid brown;
    width:250px;
    text-align:center;
    background-color:rgb(96, 36, 13);
    height:30px;
    border-radius: 21px;
    cursor:pointer;
    
}

